
/*===================================
			 SETTINGS
===================================*/

$enable-grid: true !default;
$breakpoints: xs sm md lg xl !default;
$columns: 12 !default;
$rows: 1 !default;